@import url("../popreset.css");

.popup-dom-lightbox-wrapper {
	height: 100%;
	min-height: 520px;
	min-width: 910px;
	left: 0;
	top: 0;
	width: 100%;
	position:absolute;
}

.popup-dom-lightbox-wrapper .lightbox-overlay {
	background-image:url('images/bg-trans.png');
	height: 100%;
	min-height: 350px;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}
.popup-dom-lightbox-wrapper .lightbox-main{
	z-index: 1000;
}

.popup-dom-lightbox-wrapper .lightbox-clear {
	clear: both;
}

.popup-dom-lightbox-wrapper .lightbox-close {
	float: right;
	position: relative;
	right:60px;
	top: 10px;
	background-image: url('images/lightbox-close.png');
	background-image: url('../lightbox-close-ie.png')\0/ !important;
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 32px;
	width: 30px;
	background-size: 100%;
}

.popup-dom-lightbox-wrapper .lightbox-close:hover {
	background-position: left top;
}

.popup-dom-lightbox-wrapper .lightbox-close span {
	display: none;
}


.popup-dom-lightbox-wrapper .lightbox-main .lightbox-header {
	padding-top:50px;
	width: 805px;
	margin-left: 15px;
	display: block;
	text-align: center;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-header .heading{
	text-align: center;
	font-weight: bold;
	font-size: 26pt;
	word-spacing:-5px;
	line-height: 26pt;
	display: block;
	font-family: Tahoma;
	color: #243277;
}
.popup-dom-lightbox-wrapper .lightbox-main .lightbox-header .orange-header{
	color:#832a23 !important;
}
.popup-dom-lightbox-wrapper .lightbox-main .lightbox-header .green-header{
	color:#2e6105 !important;
}
.popup-dom-lightbox-wrapper .lightbox-main .lightbox-header .red-header{
	color:#900a0a !important;
}
.popup-dom-lightbox-wrapper .lightbox-main .lightbox-header .subheading{
	text-align: center;
	margin: 0 auto;
	font-size: 11pt;
	margin-top: 15px;
	line-height: 20px;
	display: block;
	width: 640px;
	font-family: Arial;
	color: #383838;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-grey-panel {
	width: 300px;
	padding: 30px 40px;
	padding-right: 0px;
	padding-top: 20px;
	height: 350px;
	float: left;
}


.popup-dom-lightbox-wrapper .lightbox-main .lightbox-grey-panel .lightbox-product-image {
	float: left;
	margin-left: -25px;
	width: 230px;
	position: absolute;
	z-index: 3;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-grey-panel .lightbox-product-image img {
	vertical-align: bottom;
	float: none;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-contentxx {
	float: right;
	width: 305px;
}


.popup-dom-lightbox-wrapper .lightbox-main .lightbox-grey-panel p.heading {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 36px;
	line-height: 41px;
	font-weight: bold;
	font-style: italic;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #bb0000;
	text-shadow: 0px 1px 0px #fff;
	text-align: left;
	letter-spacing: -1px;
	padding-left: 20px;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-grey-panel p {
	font-family: Georgia, Times, serif;
	font-size: 13px;
	line-height: 21px;
	font-weight: normal;
	color: #000;
	letter-spacing: 0px;
	margin-bottom: 20px;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-grey-panel .bullet-listx {
	margin-top: 20px;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-grey-panel ul.bullet-list {
	list-style: none;
	max-width: 400px;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-grey-panel ul.bullet-list li {
	font-size: 18px;
	font-weight: normal;
	font-family: Georgia, Times, serif;
	background-image: url('images/bullet.png');	
	background-position: 0px 0px;
	color: #000;
	text-shadow: 0px 1px 1px #fff;
	background-repeat: no-repeat;
	padding-left: 35px;
	margin-bottom: 5px;
	line-height: 27px;
}





.popup-dom-lightbox-wrapper .lightbox-main {
	color: #fff;
	height: 523px;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-image: url('images/bg-1.png');
	width: 922px;
	margin-left: auto;
	margin-right: auto;
}

.lightbox-bottom-main{
	position: relative;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-arrow{
	z-index: 2;
	position: absolute;
	background-image: url(images/arrow.png);
	background-repeat: no-repeat;
	height: 145px;
	width: 600px;
	left:0;
	margin-left: -19px;
	margin-top: 103px;
}
.popup-dom-lightbox-wrapper .lightbox-main  .green-arrow{
	background-image:url(images/arrow-green.png) !important;
}
.popup-dom-lightbox-wrapper .lightbox-main  .red-arrow{
	background-image:url(images/arrow-red.png) !important;
}
.popup-dom-lightbox-wrapper .lightbox-main  .orange-arrow{
	background-image:url(images/arrow-orange.png) !important;
}
.popup-dom-lightbox-wrapper .lightbox-main .lightbox-downcount{
	z-index: 2;
	position: absolute;
	background-image: url(images/downcount.png);
	margin-left: 245px;
	background-repeat: no-repeat;
	height: 91px;
	width: 193px;
	margin-top: 0px;
}
.popup-dom-lightbox-wrapper .lightbox-main  .orange-counter{
	background-image:url(images/downcount-orange.png) !important;
}
.popup-dom-lightbox-wrapper .lightbox-main .green-counter{
	background-image:url(images/downcount-green.png) !important;
}
.popup-dom-lightbox-wrapper .lightbox-main  .red-counter{
	background-image:url(images/downcount-red.png) !important;
}
.popup-dom-lightbox-wrapper .lightbox-main .lightbox-downcount p{
	margin-left: 45px;
	margin-top: 48px;
	font-size: 33pt;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-pricecut{
	z-index: 2;
	position: absolute;
	margin-left: 315px;
	height: 91px;
	width: 193px;
	left: 0;
	margin-top: 240px;
	
}
.popup-dom-lightbox-wrapper .lightbox-main .lightbox-pricecut p{
	color: #383838;
	font-size: 28pt;
	display: block;
	line-height:28pt;
	font-family: Helvetica, Arial, sans-serif;
}
.popup-dom-lightbox-wrapper .lightbox-main .lightbox-cross{
	z-index: 3;
	background-image: url(images/cross.png);
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 405px;
	height: 91px;
	left:0;
	width: 193px;
	margin-top: 240px;
	
}
.popup-dom-lightbox-wrapper .lightbox-main .lightbox-left-panel {
	width: 380px;
	height: 275px;
	margin-left: 75px;
	margin-top: 45px;
	float: left;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-left-panel h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-weight: bold;
	font-style: italic;
	color: #fff;
	text-shadow: 0px 1px 2px #000;
	letter-spacing: -1px;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-left-panel p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #000;
	letter-spacing: 0px;
	margin-bottom: 20px;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-left-panel .bullet-listx {
	width: 100%;
	margin-top: 25px;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-left-panel ul.bullet-list {
	list-style: none;
	max-width: 400px;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-left-panel ul.bullet-list li {
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	background-image: url('images/bullet.png');	
	background-position: 0px 0px;
	text-shadow: 0px 1px 0px #000;
	font-weight: normal;
	background-repeat: no-repeat;
	padding-left: 35px;
	margin-bottom: 10px;
	line-height: 27px;
}


.popup-dom-lightbox-wrapper .lightbox-main .lightbox-signup-panel {
	width: 250px;
	padding: 14px;
	background-image: url(images/optinbg.png);
	background-repeat: no-repeat;
	float: right;
	margin-right: 100px;
	margin-top: 20px;
	height: 324px;
}


.popup-dom-lightbox-wrapper .lightbox-main .lightbox-signup-panel p.heading2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11pt;
	text-align: center;
	text-transform: uppercase;
	font-style: normal;
	margin-bottom: 20px;
	line-height: 18px;
	color: #fff;
	margin-top:10px;
	letter-spacing: 0px;
	font-weight:bold;
	letter-spacing: -1px;
}


.popup-dom-lightbox-wrapper .lightbox-main .lightbox-signup-panel p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 19px;
	color: #fff;
	letter-spacing: 0px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-info {
	height: 230px;
	float: left;
	margin-left: 180px;
	margin-top: 60px;
	width: 400px;
}


.popup-dom-lightbox-wrapper .lightbox-main .lightbox-info h1 {
	font-size: 24px;
	line-height: 30px;
	font-family: Georgia, Garamond, Times, serif;
	color: #002753;
	font-weight: normal;
	letter-spacing: -1px;
	text-shadow: 0px 1px 0px #fff;
	margin-bottom: 45px;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-info .green-ticks {
	list-style: none;
	margin-top: 20px;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-info .green-ticks li {
	background-image: url('images/green-tick.png');
	background-repeat: no-repeat;
	padding-left: 30px;
	font-size: 16px;
	line-height: 30px;
	font-family: Georgia, Garamond, Times, serif;
	color: #002753;
	font-weight: normal;
	letter-spacing: -1px;
	text-shadow: 0px 1px 0px #fff;
	background-position: left center;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-info .discover {
	background-image: url('images/discover.png');
	background-repeat: no-repeat;
	height: 12px;
	width: 176px;
}	

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-info .discover span {
	display: none;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-signup {
	height: 260px;
	float: right;
	margin-right: 40px;
	width: 250px;
}

.popup-dom-lightbox-wrapper .lightbox-main .lightbox-signup p.get-free {
	font-size: 16px;
	line-height: 21px;
	font-family: Georgia, Garamond, Times, serif;
	color: #fff;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 25px;
	text-shadow: 0px 1px 0px #000;
}

.lightbox-clear {
	clear: both;
}

.popup-dom-lightbox-wrapper .lightbox-signup-panel form, .popup-dom-lightbox-wrapper .lightbox-signup-panel .form {
	margin-left: auto;
	margin-right: auto;
	width: 220px;
}

.popup-dom-lightbox-wrapper .lightbox-signup-panel input[type="text"] {
	background-image: url('images/lightbox-text-boxx.png');
	margin-bottom: 10px;
	border: 0px;
	line-height: 20px;
	height: 20px;
	padding-right: 10px;
	padding-top: 10px;
	margin-left: -15px;
	background-repeat: no-repeat;
	padding-bottom: 10px;
	width: 230px;
	font-family: Georgia, Garamond, Times, serif;
	font-size: 14px;
	padding-left: 10px;
	background-color: transparent;
	background-position: left top;
	outline: none;
}

.popup-dom-lightbox-wrapper .lightbox-signup-panel input[type="text"].email {
	background-position: left bottom;
}

.popup-dom-lightbox-wrapper .lightbox-signup-panel input[type="submit"] {
	background-repeat: no-repeat;
	width: 268px;
	height: 68px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	border: none;
	font-size: 16px;
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;

	text-transform: uppercase;
	letter-spacing: -1px;
	line-height: 45px;
	text-align: center;
}


.popup-dom-lightbox-wrapper .lightbox-signup-panel input[type="submit"].green-button {
	background-image: url('images/button-green.png');
}

.popup-dom-lightbox-wrapper .lightbox-signup-panel input[type="submit"]:hover {
	background-position: left center;
}

.popup-dom-lightbox-wrapper .lightbox-signup-panel input[type="submit"]:active {
	background-position: left bottom;
}

.popup-dom-lightbox-wrapper .lightbox-signup-panel p.secure {
	font-size: 11px;
	background-image: url('images/lightbox-secure.png');
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px;
	margin-top: 10px;
	line-height: 14px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	width: 194px;
	text-align: left;
}


.popup-dom-lightbox-wrapper .lightbox-signup-panel input[type="submit"].premium-button{
	background-image: url(images/button.png);
	background-repeat: no-repeat;
	margin-left: -20px;
	color: #000;
	font-weight: bold;

	font-size: 15pt;
}

.popup-dom-lightbox-wrapper .powered {
	clear: both;
	text-align: center;
	margin-top: 0px;
	padding: 8px;
	margin-top: 80px;
	margin-left:-70px;
	padding-top: 0px;
	display: block;
}

.popup-dom-lightbox-wrapper .powered a {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000;
	color: #fff;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	
}

.popup-dom-lightbox-wrapper .powered a:hover {
	text-decoration: underline;
}

.popup-dom-lightbox-wrapper .lightbox-signup-panel .secure {
	color: #738aab;
	text-shadow: 0px 1px 2px #0c1541;
filter: dropshadow(color=#0c1541, offx=0, offy=1);
}

.popup-dom-lightbox-wrapper .lightbox-color-premium .lightbox-grey-panel p.heading {
	color: #fff;
}

.popup-dom-lightbox-wrapper .lightbox-color-premium .lightbox-signup-panel p.heading2 {
	color: #fff;
}


